.logo {
    text-align: center;
    width: 400px;
    height: 400px;
   margin-left: 560px;
   margin-right: 35px;
   max-width: 100%;
   

   
   
  
}


#boton-arriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: #000000;
    color: #b6b6b6;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #boton-arriba:hover {
    background-color: #686868;
}
  

a{
   
}